model_config_list {
  config {
    name: 'sentiment',
    base_path: '/models/sentiment/',
    model_platform: "tensorflow",
    model_version_policy: {
        specific: {
            versions: 1,
            versions: 2
        }
    },
    version_labels: {
        key: "stable",
        value: 1
    },
    version_labels: {
        key: "canary",
        value: 2
    }
   }
}